@import "../../libs/variables";

.cart {
  padding-top: 50px;
  &__background {
    background-image: url(../../../public/images/backgrounds/Background_6.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 140px;
  }
  &__inner {
    display: flex;
  }
  &__products {
    max-width: 830px;
    width: 100%;
    margin-right: 40px;
    &-box {
      display: grid;
      gap: 35px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__title {
    @include f900;
    font-size: 36px;
    margin-bottom: 35px;
  }
  &__product {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 251px;
    height: auto;
    z-index: 3;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: rgba(250, 250, 242, 1);
      width: 100%;
      min-height: 350px;
    }

    &-package {
      position: relative;
      opacity: 0.3;
      width: 100%;
      min-height: 351px;
      box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    }
    &-union {
      position: absolute;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);
    }
    &-pin {
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
    }
    &-trash {
      position: absolute;
      border: none;
      background-color: transparent;
      top: 20px;
      right: 20px;
      cursor: pointer;
      path {
        stroke: #898983;
      }
    }
    &-fruit {
      position: absolute;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      max-width: 220px;
      bottom: 120px;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
    }
    &-title {
      @include f400;
      max-width: 250px;
      margin: 15px 0 12px;
      font-size: 16px;
      line-height: 146%;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
    }
    &-counter {
      display: flex;
      align-items: center;
    }
    &-minus,
    &-plus {
      background-color: $light;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
      rect,
      path {
        fill: $dark;
        transition: all 0.3s ease;
      }
      &:hover {
        background-color: #ff6d1b;
        rect,
        path {
          fill: $light;
        }
      }
    }
    &-count {
      margin: 0 18px;
      span {
        margin-left: 3px;
      }
    }
    &-price {
      @include f500;
    }
  }
  &__payment {
    margin-left: 40px;
    max-width: 345px;
    width: 100%;
    font-size: 18px;
    line-height: 146%;
  }
  &__form {
    &-input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(67, 67, 60, 0.2);
      width: 100%;
      color: #898983;
      & + & {
        margin-top: 30px;
      }
      &::placeholder {
        color: rgba(67, 67, 60, 0.2);
      }
    }
    &-select {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(67, 67, 60, 0.2);
      display: block;
      max-width: 345px;
      width: 100%;
      margin-top: 30px;
      padding: 2px 0;
      cursor: pointer;
    }
    &-radio {
      position: relative;
      width: 100%;
      display: flex;
      cursor: pointer;
      input {
        position: absolute;
        top: 3px;
        left: 4px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
        &:not(:disabled):active + label::before {
          background-color: $light;
          border-color: #ff6d1b;
        }
        &:focus + label::before {
          box-shadow: 0 0 0 0.2rem rgba(#ff6d1b, 0.25);
        }
        &:focus:not(:checked) + label::before {
          border-color: $light;
        }
        &:checked + label::before {
          border-color: #ff6d1b;
          border-width: 5px;
          background-color: $light;
        }
        &:disabled + label::before {
          background-color: rgba(208, 208, 196, 1);
        }
      }
      & + & {
        margin-top: 12px;
      }
      label {
        margin-left: 5px;
        color: $dark;
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        &::before {
          content: "";
          display: inline-block;
          width: 1em;
          height: 1em;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid #adb5bd;
          border-radius: 50%;
          margin-right: 0.5em;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }
      }
    }
    .select-city {
      margin-bottom: 35px;
    }
    &-img {
      margin-left: 3px;
      cursor: help;
    }
  }
  &__total {
    margin: 35px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      @include f400;
    }
    &-price {
      @include f500;
    }
    &-btn {
      @include f500;
      width: 115px;
      height: 115px;
      background-color: #ff6d1b;
      border-radius: 50%;
      text-align: center;
      padding: 39px 14px;
      border: none;
      color: $light;
      cursor: pointer;
    }
  }
}
