@import "../../libs/variables";

.application {
  background-image: url(../../../public/images/backgrounds/Background_4.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    padding: 500px 0 100px;
  }
  &__title {
    @include f900;
    text-align: center;
    font-size: 36px;
    line-height: 146%;
    margin-bottom: 45px;
  }
  &__desc {
    font-size: 20px;
    max-width: 570px;
    line-height: 140%;
    text-align: center;
    margin: 0 auto 50px;
  }
  &__content {
    &-block {
      display: flex;
      align-items: center;
      &:nth-child(even) {
        justify-content: flex-end;
      }
      &:last-child {
        position: relative;
        justify-content: center;
        .application__content-desc {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 265px;
          width: 220px;
          font-size: 16px;
          line-height: 130%;
          text-align: center;
        }
      }
      & + & {
        margin-top: -100px;
      }
    }
    &-info {
      max-width: 395px;
      width: 100%;
      text-align: center;
    }
    &-title {
      font-size: 20px;
      line-height: 130%;
      text-align: center;
    }
    &-desc {
      font-size: 18px;
      line-height: 140%;
      color: #52524d;
    }
    &-link {
      max-width: 220px;
      width: 100%;
      text-align: center;
      padding: 17px;
      border: 1px solid #e6e6e6;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        transform: translateX(-10px);
      }
    }
    .apple {
      bottom: 375px;
    }
    .store {
      bottom: 300px;
    }
  }
}
