@import "../../libs/variables";

.contact {
  background-image: url(../../../public/images/backgrounds/Background_5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  &__inner {
    padding: 600px 0 650px;
  }
  &__title {
    @include f900;
    text-align: center;
    font-size: 36px;
    line-height: 146%;
    margin-bottom: 45px;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__note {
    background-image: url(../../../public/images/contacts/note.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 410px;
    margin-right: 30px;
    padding: 0 45px;
    &-title {
      @include f700;
      font-size: 32px;
      line-height: 39px;
      padding: 180px 0 6px;
    }
    &-desc {
      font-size: 16px;
      line-height: 155%;
      color: #52524d;
      padding-bottom: 24px;
    }
    &-input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid;
      padding: 8px 0;
      border-color: rgba($color: #52524d, $alpha: 0.4);
      color: #52524d;
      font-size: 20px;
      line-height: 155%;
      opacity: 0.4;
      outline: none;
      width: 100%;
      & + & {
        margin-top: 20px;
      }
    }
    &-btn {
      background-color: #ff6d1b;
      width: 115px;
      height: 115px;
      border-radius: 50%;
      color: #fff;
      font-size: 16px;
      line-height: 16px;
      @include f500;
      text-align: center;
      border: none;
      cursor: pointer;
    }
    &-other {
      margin-top: 45px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 120px;
    }
    &-social {
      display: flex;
      li + li {
        margin-left: 16px;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        background-color: $dark;
        border-radius: 50%;
      }
    }
  }
  &__info {
    max-width: 410px;
    width: 100%;
    margin-left: 30px;
    &-block {
      & + & {
        margin-top: 45px;
      }
    }
    &-title {
      @include f600;
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 24px;
    }
    &-text {
      font-size: 24px;
      line-height: 29px;
      color: #52524d;
    }
  }
}
