@import "../../libs/variables";

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 100px;
  }
  &__row {
    display: flex;
  }
  &__logo {
    path {
      fill: $dark;
    }
  }
  &__navigation {
    &-list {
      display: flex;
      li + li {
        margin-left: 56px;
      }
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    margin-left: 56px;
    path {
      fill: $dark;
    }
    &-count {
      margin-left: 5px;
    }
  }
}
