@import "../../libs/variables";

.gallery {
  &__inner {
  }
  &__title {
    @include f900;
    font-size: 36px;
    line-height: 146%;
    letter-spacing: 0.06em;
    color: #000;
    text-align: center;
    margin-bottom: 80px;
    text-shadow: 1px 1px 0 $light, -1px -1px 0 $light, 1px -1px 0 $light, -1px 1px 0 $light, 1px 1px 0 $light;
    margin-bottom: 100px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
  }
  &__item {
    @include fc400;
    max-width: 375px;
    width: 100%;
    padding: 25px 20px;
    text-align: center;
    &-img {
      width: 335px;
      height: 342px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 13px;
    }
    &-desc {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 5px;
    }
    &-date {
      display: block;
      font-size: 14px;
      line-height: 15px;
      text-align: right;
    }
  }
}
