@import "../../libs/variables";

.dialog {
  background-image: url(../../../public/images/backgrounds/Background_2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    display: flex;
    padding: 400px 0 300px;
    justify-content: space-between;
    align-items: center;
    @include fc400;
  }
  &__images {
    position: relative;
    width: 100%;
    padding: 17px 20px 17px 0;
    margin-right: 40px;
    img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &-plantation {
    }
    &-ananas {
      position: absolute;
      bottom: 60px;
      left: -50px;
    }
  }
  &__table {
    position: absolute;
    background-image: url(../../../public/images/dialog/table.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 495px;
    height: 73px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    &-text {
      padding: 25px 35px;
      text-align: center;
      line-height: 21px;
      font-size: 20px;
    }
  }
  &__messages {
    transform: translateY(40px);
    width: 100%;
  }
  &__text {
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 26px;
    color: #52524d;
  }
  &__link {
    display: block;
    position: relative;
    font-size: 22px;
    line-height: 30px;
    color: #52524d;
    text-decoration: underline;
    padding-left: 30px;
    opacity: 0.7;
    &::before {
      content: "—";
      position: absolute;
      left: 0;
      top: 0;
    }
    cursor: pointer;
    & + & {
      margin-top: 26px;
    }
    span {
      position: absolute;
      font-size: 14px;
      line-height: 15px;
      margin-left: 5px;
    }
  }
  &__decor {
    position: absolute;
    &-first {
      top: -130px;
      left: 100px;
    }
    &-second {
      top: -180px;
      left: 280px;
      transform: scale(-60%) rotateZ(120deg);
      filter: blur(1.5px);
    }
    &-third {
      top: -90px;
      right: 90px;
      transform: scale(-40%) rotateZ(170deg);
      filter: blur(3px);
    }
  }
}
