@import "../../libs/variables";

.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 40px;
  }
  &__menu {
    display: flex;
    li + li {
      margin-left: 56px;
    }
    a {
      color: $light;
    }
  }
}
