@import "../../libs/variables";
.slider {
  &__inner {
    padding: 190px 0 150px;
  }
  &__title {
    @include f900;
    font-size: 36px;
    line-height: 146%;
    letter-spacing: 0.06em;
    color: #000;
    text-shadow: 1px 1px 0 $light, -1px -1px 0 $light, 1px -1px 0 $light, -1px 1px 0 $light, 1px 1px 0 $light;
    margin-bottom: 100px;
  }
  &__box {
    display: -webkit-box;
  }
  &__item {
    opacity: 0.2;
    margin-bottom: 150px;
    &.active {
      opacity: 1;
      margin-right: 50px;
    }
    & + & {
      margin-left: 50px;
    }
    max-width: 600px;
    width: 100%;
    &-name {
      color: $light;
      font-size: 32px;
      line-height: 39px;
      @include f500;
    }
    &-text {
      font-size: 20px;
      line-height: 155%;
      color: $light;
    }
    &-img {
      transform: translateY(10px);
      margin: 0 10px;
    }
  }
  &__choose {
    &-line {
      width: 100%;
      height: 2px;
      background-color: #84847f;
    }
    &-dots {
      display: flex;
      justify-content: space-around;
    }
    &-dot {
      cursor: pointer;
      &:hover {
        .slider__choose-name {
          color: $light;
        }
        .slider__choose-circle {
          background-color: $light;
          &::before {
            content: "";
            position: absolute;
            height: 4px;
            width: 40px;
            top: 3px;
            left: -16px;
            background-color: $light;
            border-radius: 1px;
          }
        }
      }
      &.active {
        .slider__choose-name {
          color: $light;
        }
        .slider__choose-circle {
          background-color: $light;
          &::before {
            content: "";
            position: absolute;
            height: 4px;
            width: 40px;
            top: 3px;
            left: -16px;
            background-color: $light;
            transition: all 0.3s ease;
          }
        }
      }
      position: relative;
      transform: translateY(-33px);
    }
    &-name {
      color: $light;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
      color: #84847f;
      transition: all 0.3s ease;
    }
    &-circle {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      background-color: #84847f;
      border-radius: 50%;
      transition: all 0.3s ease;
      &::before {
        content: "";
        position: absolute;
        height: 4px;
        width: 0px;
        top: 3px;
        left: 5px;
        background-color: $light;
        border-radius: 1px;
        transition: all 0.3s ease;
      }
    }
  }
}
